celery==3.1.18
django==1.8.15
django-celery==3.1.16
pytz==2015.2
aniso8601
-e git+https://github.com/infrae/pyoai.git@2.4.4#egg=pyoai==2.4.4
-e git+https://github.com/RusticiSoftware/TinCanPython.git#egg=tincan
